.line1, .line2, .line3{
    height: 2px;
    width: 2rem;
    background-color: white;
    margin: .5rem;
}

.sidebar__icon{
    margin: -14.5rem 0;
    width: 2rem;
    height: 2rem;
}

.sidebar__icon:hover{
    cursor: pointer;
}

.sidebar{
    margin-left: 0;
    background-color: red;
    
}