*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: rgb(8, 8, 91);
    color: white;
}

.f__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.header{
    display: flex;
    margin: 1rem;
    justify-content: right;
}

